<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      #chat-container {
        display: flex;
        gap: 25px;
        width: 70%;
        margin: 0 auto;
      }
      #online-users {
        width: 20%;
        margin-bottom: 10px;
        padding: 5px 10px;
        border-radius: 5px;
        background-color: #f1f1f1;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        min-height: 40vh;
      }
      #user-profile {
        width: auto;
        padding: 10px 20px;
        border-radius: 30px;
        background-color: #f1f1f1;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        margin-bottom: 10px;
        cursor: pointer;
      }
      #private-user-profile {
        width: auto;
        padding: 10px 20px;
        border-radius: 30px;
        color: white;
        background-color: rgb(101, 188, 235);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        margin-bottom: 10px;
        cursor: pointer;
      }
      a {
        color: black;
        text-decoration: none;
      }
      #chat-wrapper {
        width: 80%;
      }
      #messages {
        margin-bottom: 10px;
        padding: 5px 10px;
        border-radius: 5px;
        background-color: #f1f1f1;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        min-height: 40vh;
      }
      #msg {
        padding: 3px 15px;
        background-color: rgb(107, 182, 247);
        border-radius: 15px;
        color: white;
        max-width: 60%;
      }
      #my-msg {
        padding: 5px 15px;
        background-color: rgb(107, 182, 247);
        border-radius: 15px;
        color: white;
        max-width: 60%;
      }
      #msg {
        padding: 5px 15px;
        background-color: rgb(200, 226, 249);
        border-radius: 15px;
        color: black;
        max-width: 60%;
      }
      #input-container {
        display: flex;
        gap: 10px;
        align-items: flex-end;
      }
      #msg-input {
        width: 100%;
        padding: 10px;
        border: none;
        padding: 15px;
        background-color: rgb(245, 243, 243);
        border-radius: 20px;
        box-sizing: border-box;
        outline: none;
      }
      #btn {
        background-color: rgb(76, 133, 240);
        padding: 10px 20px;
        border-radius: 30px;
        color: white;
        border: none;
      }
    </style>
  </head>
  <body>
    <div id="chat-container">
      <div id="online-users"></div>
      <div id="chat-wrapper">
        <div id="messages"></div>
        <div id="input-container">
          <textarea
            id="msg-input"
            rows="4"
            placeholder="Enter message here"
          ></textarea>
          <button id="btn" onclick="sendMessage()">Send</button>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.socket.io/4.7.5/socket.io.min.js"
      integrity="sha384-2huaZvOR9iDzHqslqwpR87isEmrfxqyWOF7hr7BY6KG0+hVKLoEXMPUJw3ynWuhO"
      crossorigin="anonymous"
    ></script>
    <script>
      const socket = io("http://localhost:8000");
      const getUser = localStorage.getItem("user");
      const user = JSON.parse(getUser ?? "{}");
      socket.emit("newUser", user);
      socket.on("allUsers", (users) => {
        const sortedArr = users?.sort((a, b) =>
          a.id === user.id ? -1 : b.id === user.id ? 1 : 0
        );
        const usersContainer = document.querySelector("#online-users");
        usersContainer.innerHTML = "";
        sortedArr.forEach((currUser) => {
          const privateId = window.location.pathname.split("/").at(-1);
          const userElement = document.createElement("div");
          if (currUser?.id === user.id) {
            userElement.innerHTML = `<div id="user-profile">You</div>`;
          } else if (currUser.id == privateId) {
            const messagesContainer = document.querySelector("#messages");
            messagesContainer.innerHTML = "";
            const profileDiv = document.createElement("div");
            profileDiv.style.display = "flex";
            profileDiv.style.justifyContent = "center";
            profileDiv.innerHTML = `<p>${currUser.name} is online</p>`;
            messagesContainer.append(profileDiv);
            userElement.innerHTML = `<a href="/chat/${currUser.id}"><div id="private-user-profile">${currUser.name}</div></a>`;
          } else {
            userElement.innerHTML = `<a href="/chat/${currUser.id}"><div id="user-profile">${currUser.name}</div></a>`;
          }
          usersContainer.appendChild(userElement);
        });
      });

      socket.on("receiveMessage", (message) => {
        const messageInput = document.querySelector("textarea");
        messageInput.value = "";
        const messagesContainer = document.querySelector("#messages");
        const messageElement = document.createElement("div");
        if (message?.id === user.id) {
          messageElement.style.display = "flex";
          messageElement.style.justifyContent = "flex-end";
          messageElement.innerHTML = `<p id="my-msg">${message.message}</p>`;
        } else {
          messageElement.innerHTML = `<p id="msg">${message.message}</p>`;
        }
        messagesContainer.appendChild(messageElement);
      });

      function sendMessage() {
        const messageInput = document.querySelector("textarea");
        const message = messageInput.value;

        const receiverId = window.location.pathname.split("/").at(-1);
        if (receiverId) {
          socket.emit("sendMessage", { ...user, receiverId, message });
        } else {
          socket.emit("sendMessage", { ...user, message });
        }
      }
    </script>
  </body>
</html>
