<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <input type="text" placeholder="Enter name" />
    <button onclick="onLogin()">Submit</button>
    <script>
      const input = document.querySelector("input");

      function onLogin() {
        localStorage.setItem(
          "user",
          JSON.stringify({ name: input.value, id: Date.now() })
        );
        window.location.href = "http://localhost:8000/chat";
      }
    </script>
  </body>
</html>
